{% extends 'kardex_app/main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<link rel="stylesheet" href= {% static "css/dashboard.css" %}>
<div class="dashboard-body w-100">
  <section class="viz-section my-4">
    <div class="viz-slider">
      <div class="viz-container">
        <div id="nurseLoginViz" class="viz-holder"></div>
      </div>
      <div class="viz-container">
        <div id="loggedPatientsViz" class="viz-holder"></div>
      </div>
      <div class="viz-container">
        <div id="discardedKardexViz" class="viz-holder"></div>
      </div>
      <div class="viz-container">
        <div id="reportsGeneratedViz" class="viz-holder"></div>
      </div>
      <div class="viz-container">
        <div id="wardOccupancyViz" class="viz-holder"></div>
      </div>
    </div>
  </section>
  <section class="kardex-section position-relative container d-flex flex-column my-4 px-64">
    <div class="w-100 d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-dark fw-bold me-3">
          0 Filters Selected
        </button>
        <span class="fw-bold me-2">Date Range</span>
        <input
          type="text"
          class="form-control w-128 me-2"
          placeholder="YYYY-MM-DD"
        >
        <span class="fw-bold me-2">to</span>
        <input
          type="text"
          class="form-control w-128"
          placeholder="YYYY-MM-DD"
        >
      </div>
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-outline-dark me-3">Search</button>
        <div class="dropdown">
          <button
            class="btn btn-outline-dark dropdown-toggle fw-bold px-4"
            type="button"
            id="sortingDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Edited - Latest
          </button>
          <ul class="dropdown-menu" aria-labelledby="sortingDropdown">
            <li><a class="dropdown-item" href="#">Edited - Latest</a></li>
            <li><a class="dropdown-item" href="#">Edited - Oldest</a></li>
            <li><a class="dropdown-item" href="#">Name - Descending</a></li>
            <li><a class="dropdown-item" href="#">Name - Ascending</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="z-2 col-6 d-flex mt-1 ms-32">
        <button type="button" class="btn btn-outline-dark fw-bold me-2">Prev</button>
        <div class="input-group w-128 me-2">
          <span class="input-group-text" id="pageLabel">Page</span>
          <input
            type="number"
            class="form-control"
            value="1"
            aria-label="Page"
            aria-describedby="pageLabel"
          >
        </div>
        <button type="button" class="btn btn-outline-dark fw-bold me-3">Next</button>
        <button type="button" class="btn btn-outline-dark fw-bold">Refresh</button>
      </div>
      <div class="col-6 mb-2">
        <span class="fs-5">
          Showing 1-100 out of 1282 Available Kardex across 13 pages
        </span>
      </div>
    </div>
    <div class="kardex-group-container d-flex flex-wrap px-5">
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4 px-2">
        {% include 'kardex_app/partials/small-kardex.html' %}
      </div>
    </div>
    <div class="d-flex">
      <div class="z-2 col-6 d-flex mb-1 ms-32">
        <button type="button" class="btn btn-outline-dark fw-bold me-2">Prev</button>
        <div class="input-group w-128 me-2">
          <span class="input-group-text" id="pageLabel">Page</span>
          <input
            type="number"
            class="form-control"
            value="1"
            aria-label="Page"
            aria-describedby="pageLabel"
          >
        </div>
        <button type="button" class="btn btn-outline-dark fw-bold me-3">Next</button>
        <button type="button" class="btn btn-outline-dark fw-bold">Refresh</button>
      </div>
      <div class="col-6 mt-2">
        <span class="fs-5">
          Showing 1-100 out of 1282 Available Kardex across 13 pages
        </span>
      </div>
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js" integrity="sha512-MefNfAGJ/pEy89xLOFs3V6pYPs6AmUhXJrRlydI/9wZuGrqxmrdQ80zKHUcyadAcpH67teDZcBeS6oMJLPtTqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src={% static "js/dashboard.js" %} type="module"></script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="text-center">
  <h1>Dashboard</h1>
  <strong>Total No. of Kardex: </strong> {{kardexs|length}}
  <br>
  <a href="{% url 'create-kardex' %}" class="btn btn-success"><span class="material-icons">add</span>Add</a>
</div>
<!-- wrapper -->
<div class="container-fluid">
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
        {% for kardex in kardexs %}
          <!-- Single item -->
          <div class="col-lg-4">
            <div class="card">
                <img src={% static 'images/DO-3.jpg' %} class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{kardex.patientName}}</h5>
                <div class="text-left">
                  <strong>Sex: </strong> {{kardex.sex}} <br>
                  <strong>age: </strong> {{kardex.age}} <br>
                  <strong>dateTime: </strong> {{kardex.dateTime}} <br>
                  <strong>hospitalNum: </strong> {{kardex.hospitalNum}} <br>
                  <strong>bedNum: </strong> {{kardex.bedNum}} <br>
                  <strong>doctorInCharge: </strong> {{kardex.doctorInCharge}} <br>
                  <strong>hospitalName: </strong> {{kardex.hospitalName}} <br>
                </div>
                  <a href="{% url 'view-kardex' kardex.id %}" class="btn btn-primary">
                    <span class="material-icons">visibility</span>
                    View
                  </a>
                  <a href="{% url 'update-kardex' kardex.id %}" class="btn btn-warning">
                    <span class="material-icons">edit</span>
                    Update
                  </a>
                  <a href="{% url 'delete-kardex' kardex.id %}" class="btn btn-danger">
                    <span class="material-icons">delete</span>
                    Delete
                  </a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->
{{kardexs}}
{% endblock content %}