{% extends 'kardex_app/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h1>Update Kardex Page</h1>
  <br>
  <div class="card">
    <div class="card-header">
      Update Kardex Form
    </div>
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <!-- Insert Input Fields -->
        <!-- Update Button -->
        <button class="btn btn-outline-success" type="submit">
          <span class="material-icons">edit</span>
          Update Kardex
        </button>
        <!-- Cancel Button -->
        <a href="{% url 'dashboard' %}" class="btn btn-outline-danger">
          <span class="material-icons">block</span>
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>

{% endblock content %}