{% extends 'kardex_app/main.html' %}
{% block content %}
{% load static tz my_templatetags %}
<link rel="stylesheet" href= {% static "css/kardex.css" %}>
<script defer src={% static "js/view-kardex.js" %}></script>
<div class="create-kardex-body w-100">
  <form id="createKardexForm" action="" method="post">
    {% csrf_token %}
    <section class="large-kardex container-fluid container-lg d-flex flex-column align-items-center mt-4 mb-3">
      <div class="d-flex align-items-center mb-3 mb-3">
        <input
          name="name_of_ward"
          id="nameOfWardInput"
          type="text"
          class="underline-field bg-white w-156 form-control me-2"
          value="{{ kardex.name_of_ward }}"
          disabled
        >
        <h2 class="fw-bold">WARD</h2>
      </div>
      <div class="grid-wrapper w-100">
        <div class="ivf-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">IVF:</span>
          <textarea
            name="ivf"
            id="ivfInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.ivf }}</textarea>
        </div>
        <div class="laboratory-work-ups-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">LABORATORY WORK-UPS:</span>
          <textarea
            name="laboratory_work_ups"
            id="laboratoryWorkUpsInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.laboratory_work_ups }}</textarea>
        </div>
        <div class="medications-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">MEDICATIONS:</span>
          <textarea
            name="medications"
            id="medicationsInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.medications }}</textarea>
        </div>
        <div class="side-drip-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">SIDE DRIP:</span>
          <textarea
            name="side_drip"
            id="sideDripInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.side_drip }}</textarea>
        </div>
        <div class="special-notations-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">SPECIAL NOTATIONS:</span>
          <textarea
            name="special_notations"
            id="specialNotationsInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.special_notations }}</textarea>
        </div>
        <div class="referrals-cell d-flex flex-column p-3">
          <span class="cell-header text-break h4 fw-bold">REFERRALS:</span>
          <textarea
            name="referrals"
            id="referralsInput"
            class="overline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.referrals }}</textarea>
        </div>
      </div>
    </section>
    <section class="lower-fields container-fluid container-lg d-flex flex-column flex-md-row">
      <div class="lower-left-fields d-flex flex-column pe-0 pe-md-4">
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">NAME:</span>
          <input
            name="name"
            id="nameInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.name }}"
            disabled
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">AGE/SEX:</span>
          <input
            name="age_sex"
            id="ageSexInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.age }}/{{ kardex.sex }}"
            disabled
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DATE/TIME:</span>
          <input
            name="date_time"
            id="dateTimeInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.date_time|default:'' }}"
            disabled
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">HOSPITAL #:</span>
          <input
            name="hospital_num"
            id="hospitalNumInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.hospital_num }}"
            disabled
          >
        </div>
      </div>
      <div class="lower-right-fields d-flex flex-column">
        <div class="d-flex align-items-center mb-3">
          <span class="align-self-start text-nowrap fs-2 fw-bold me-3">DX:</span>
          <textarea
            name="dx"
            id="dxInput"
            class="underline-field bg-white form-control"
            rows="3"
            disabled
          >{{ kardex.dx }}</textarea>
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DRS:</span>
          <input
            name="drs"
            id="drsInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.drs }}"
            disabled
          >
        </div>
        <div class="d-flex align-items-center mb-3">
          <span class="text-nowrap fs-2 fw-bold me-3">DIET:</span>
          <input
            name="diet"
            id="dietInput"
            type="text"
            class="underline-field bg-white form-control"
            value="{{ kardex.diet }}"
            disabled
          >
        </div>
      </div>
    </section>
    <section class="extra-fields container-fluid container-lg">
      {% for name, value in kardex.extra_fields|zip:kardex.extra_field_values %}
      <div class="extra-field d-flex align-items-center mb-3 pe-0 pe-md-4">
        <input
          type="text"
          id="extraFieldNameInput{{ forloop.counter }}"
          class="underline-field bg-white w-156 form-control"
          value="{{ name }}"
          disabled
        >
        <span class="fs-2 fw-bold me-3">:</span>
        <input
          type="text"
          id="extraFieldValueInput{{ forloop.counter }}"
          class="underline-field bg-white form-control"
          value="{{ value }}"
          disabled
        >
      </div>
      {% endfor %}
    </section>
    <input
      name="age"
      id="ageInput"
      type="number"
      class="d-none"
      max="125"
      min="0"
    >
    <input
      name="sex"
      id="sexInput"
      type="text"
      class="d-none"
    >
    <input
      name="extra_fields"
      id="extraFieldsInput"
      type="text"
      class="d-none"
    >
    <input
      name="extra_field_values"
      id="extraFieldValuesInput"
      type="text"
      class="d-none"
    >
    <input
      name="label_markers"
      id="labelMarkersInput"
      type="text"
      class="d-none"
    >
    <input
      name="label_values"
      id="labelValuesInput"
      type="text"
      class="d-none"
    >
  </form>
  <section class="main-btns-row container-fluid container-lg d-flex flex-column align-items-start flex-md-row align-items-md-center mt-2 mb-4">
    <a href="{% url 'create-kardex' %}">
      <button type="button" id="createAnotherKardexBtn" class="btn btn-outline-success px-4 me-3">
        Create Another Kardex?
      </button>
    </a>
    <a href="{% url 'update-kardex' kardex.id|default:'1' %}">
      <button type="button" id="updateThisKardexBtn" class="btn btn-outline-primary px-4 me-3">
        Update this Kardex?
      </button>
    </a>
    <a href="#">
      <button type="button" id="deleteThisKardexBtn" class="btn btn-outline-danger px-4 me-3">
        Delete this Kardex?
      </button>
    </a>
  </section>
  <section class="edit-history container-fluid container-lg d-flex flex-column">
    <span class="fs-2 fw-bold">Previously Edited By:</span>
    <ol>
      {% timezone "Asia/Manila" %}
      {% for name, date in kardex.edited_by_names|zip:kardex.edited_at reversed %}
      <li>
        <a>{{ name }}</a> ({{ date|date:"h:i A - N d, Y" }})
      </li>
      {% endfor %}
      {% endtimezone %}
    </ol>
  </section>
  <div aria-live="assertive" aria-atomic="false">
    <div class="toast-container position-fixed end-0 bottom-0 p-3">
      <div class="info-toast toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            This page is only for viewing, clicking the inputs will have no effect.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
