<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link {% if request.resolver_match.view_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'signIn' %}active{% endif %}" href="{% url 'signIn' %}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'changePassword' %}active{% endif %}" href="{% url 'changePassword' %}">changePassword</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'forgotPassword' %}active{% endif %}" href="{% url 'forgotPassword' %}">forgotPassword</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'createKardex' %}active{% endif %}" href="{% url 'createKardex' %}">createKardex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == 'generateReports' %}active{% endif %}" href="{% url 'generateReports' %}">generateReports</a>
        </li>


        {% if request.user.is_authenticated %}
          <!-- Display user -->
          <li class="nav-link">
            <h1>HELLO USER</h1>
            <a href="">
              <i class="fas fa-user">{{request.user.first_name}} {{request.user.last_name}}</i>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
</nav>