{% extends 'kardex_app/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}


<div class="container">
    <h1>Create Nurse Page</h1>
    <br>
    <div class="card">
        <div class="card-header">
          Create Nurse Form
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <!-- Insert Input Fields -->
            <!-- Create Button -->
            <button class="btn btn-outline-success" type="submit">
              <span class="material-icons">add</span>
              Create Nurse
            </button>
            <!-- Cancel Button -->
            <a href="{% url 'nurse-dashboard' %}" class="btn btn-outline-danger">
              <span class="material-icons">block</span>
              Cancel
            </a>
          </form>
        </div>
    </div>
  </div>


  {% endblock content %}