{% extends 'kardex_app/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container-fluid m-5">
  <div class="container">
    <div class="nurse-registration card">
        <div class="card-header">
          Nurse Registration Form
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <!-- Insert Input Fields -->
            <!-- Create Button -->
            <button class="btn btn-outline-success" type="submit">
              <span class="material-icons">add</span>
              Create Nurse
            </button>
            <!-- Cancel Button -->
            <a href="{% url 'nurse-dashboard' %}" class="btn btn-outline-danger">
              <span class="material-icons">block</span>
              Cancel
            </a>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}