{% extends 'kardex_app/main.html' %}
{% block content %}
{% load static %}
<div class="text-center">
    <h1>View Kardex</h1>
    <strong>Cardex Owner: </strong> {{nurse.patientName}}
    <br>
</div>
<!-- wrapper -->
<div class="container-fluid">
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
            <!-- Single item -->
            <div class="col-lg-4">
                <div class="card">
                    {% if nurse.picture %}
                      <img src={{nurse.picture.url}} class="card-img-top" alt="">
                    {% else %}
                      <img src={% static 'images/DO-3.jpg' %} class="card-img-top" alt="">
                    {% endif %}

                  <div class="card-body">
                    <h5 class="card-title">{{nurse.username}}</h5>
                    <div class="text-left">
                      <strong>First Name: </strong> {{nurse.first_name}} <br>
                      <strong>PIC URL: </strong> {{nurse.picture}} <br>
                      <strong>Last Name: </strong> {{nurse.last_name}} <br>
                      <strong>Sex: </strong> {{nurse.sex}} <br>
                      <strong>Birth date: </strong> {{nurse.birthday}} <br>

                        <a href="{% url 'update-nurse' nurse.id %}" class="btn btn-warning">
                          <span class="material-icons">edit</span>
                          Update
                        </a>
                        
                        <!-- Delete Button Trigger -->
                        <a type="submit"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_nurse_{{nurse.id}}">
                            <span class="material-icons">delete</span>
                            Delete
                        </a>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete_nurse_{{nurse.id}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel">Delete Item</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h2>Are you sure that you want to delete nurse  <strong>{{nurse.first_name}} {{nurse.last_name}}</strong>? </h2>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'delete-nurse' nurse.id %}" class="btn btn-danger">
                                    <span class="material-icons">delete</span>
                                    Delete
                                    </a>
                                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                </div>
                            </div>
                            </div>
                        </div>





                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->
{{kardexs}}
{% endblock content %}